<html lang="en">
<head>
        <meta charset="UTF-8">
</head>
<body>
    <div id="app">
        <!-- <h1 v-for:"item in titleArray">{{item}}</h1>
         -->
         <li>{{message}}</li>
         <li v-for="item in items">
             {{ item.value }}
            </li>

         <li v-for="item in items">
                {{ item.value }}
            </li>
            <div v-for="item in items">
                <span>{{item.value}}</span>
                <span>{{item.title}}</span>
            </div>
            <ol>
                    <!--
                      现在我们为每个 todo-item 提供 todo 对象
                      todo 对象是变量，即其内容可以是动态的。
                      我们也需要为每个组件提供一个“key”，稍后再
                      作详细解释。
                    -->
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
            </ol>
            <span  style="margin-left: 10" v-for="item in items">{{ item.value }}</span>

    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <!-- <script src="app.js"></script> -->
    <script>
        Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'hello',
                items: [
            { value: '左边：',
              title: '右边的内容' },
            { value: '左边：',
              title: '第二行右边内容' }
            ],
            groceryList: [
            { id: 0, text: '蔬菜' },
            { id: 1, text: '奶酪' },
            { id: 2, text: '随便其它什么人吃的东西' }
            ],
            }
        })
        
    </script>
</body>
</html>